<html>
    <body>
        <div>
            <h1>List</h1>
             <table>
               <tr><th>id</th><th>title</th><th>status</th></tr>
            
             </table>
          </div>
         </body>
    </body>
</html>